# Ignore local setenv
/setenv

# Ignore vendor
/vendor

# Ignore local Koha repo
/repo

# Other stuff
.DS_Store
Gemfile.lock
.bundle

# Ignore todo-files
todo

# Ignore temporary vim files
*~
*.swp
*.swo

# Ignore ruby version file
.ruby-version

# Local config files
deploy.local.rb
