# Ignore local setenv
/setenv

# Ignore vendor
/vendor

# Ignore local Koha repo
/repo

.DS_Store

# Ignore todo-files
todo

# Ignore temporary vim files
*~
*.swp
*.swo

# Ignore ruby version file
.ruby-version
